/*Sets the maximum size for the slider container*/
.slidecontainer{
    width: 100%;
}
/*Sets the color of the slider*/
.slider {
    appearance: none;
    width: 100%;
    height: 15px;
}
/*On hover the visual changes*/
.slider:hover {
    opacity: 1;
}
/*Changes the grab icon for the slider*/
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
}
