/*Sets the maximum size for the slider container*/
.slidecontainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*Sets the color of the slider*/
.slider {
    /* set appearance as none to make a custom one with CSS*/
    appearance: none;
    /* will fill as much room as possible */
    width: 100%;
    height: 15px;
    /* slider is circular */
    border-radius: 40px;
    /* slider is this color! */
    background: #727fb4;
    outline: none;
    /* when not hovering over it, it is less visible*/
    opacity: 0.5;
    box-sizing: inherit;
}
/*On hover the visual changes*/
.slider:hover {
    opacity: 1;
}
/*Changes the grab icon for the slider*/
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background: #0e0442;
}
