/*Sets the maximum size for the slider container*/
.slidecontainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*Sets the color of the slider*/
.slider {
    appearance: none;
    width: 87%;
    height: 15px;
    border-radius: 20px;
    background: #8a9bdf;
    outline: none;
    opacity: 0.7;
}
/*On hover the visual changes*/
.slider:hover {
    opacity: 1;
}
/*Changes the grab icon for the slider*/
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background: #000000;
}
